<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.sibadat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".LoginActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Register" android:screenOrientation="portrait"/>
        <activity android:name=".LupaPassword" android:screenOrientation="portrait"/>
        <activity android:name=".ModulMateri" android:screenOrientation="portrait"/>
        <activity android:name=".Modul" android:screenOrientation="portrait"/>
        <activity android:name=".ModulKuis" android:screenOrientation="portrait"/>
        <activity android:name=".Kuiz" android:screenOrientation="portrait"/>
        <activity android:name=".SplashScreen" android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".HasilKuis" android:screenOrientation="portrait"/>
        <activity android:name=".StatistikNilai" android:screenOrientation="landscape"/>
        <activity android:name=".Profile" android:screenOrientation="portrait"/>
        <activity android:name=".KunciKuis1" android:screenOrientation="portrait"/>
        <activity android:name=".modul2" android:screenOrientation="portrait" />
        <activity android:name=".Kuiz2" android:screenOrientation="portrait"/>
        <activity android:name=".hasil2" android:screenOrientation="portrait"/>
        <activity android:name=".KunciKuis2" android:screenOrientation="portrait"></activity>
    </application>

</manifest>